Flask==0.10.1
Flask-SQLAlchemy==0.16
Jinja2==2.7
MarkupSafe==0.18
MySQL-python==1.2.4
SQLAlchemy==0.8.2
Werkzeug==0.9.1
itsdangerous==0.22
pep8==1.4.6
pynt==0.8.0
redis==2.7.6
uWSGI==1.9.16
ujson==1.33
wsgiref==0.1.2
